@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    background: no-repeat center center/cover linear-gradient(to bottom right, #69fff7, #0068bd);
    height: max-content;
}

.main_container {
    background-color: transparent;
}

#navbar {
    /* border: 1px solid red; */
    background-color: rgb(252, 251, 251);
    cursor: pointer;
    padding-top: 10px;
    border-bottom: 0.5px solid rgb(34, 226, 240);
}

#navbar-top-section1 {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: transparent;
}

#navbar-top-section1 nav li {
    list-style-type: disc;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-content: center;
}

#navbar-top-section1 nav li:hover {
    background-color: rgba(114, 114, 114, 0.411);
}

#navbar-top-section1 nav li a {
    color: rgb(39, 39, 39);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

#navbar-top-section1 nav li img {
    height: 20px;
    width: 20px;
    margin: 0px 5px;
}

#navbar-top-section1 h5 {
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
}

#brand-name {
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
}

.offcanvas-body {
    background: no-repeat center center/cover linear-gradient(to bottom right, #4ef7db, #0058bd);
}

.name_list {
    font-weight: bolder;
    margin: 5px 10px;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
    border-bottom: 2px solid rgb(29, 29, 29);
    width: fit-content;
}

.body_container {
    width: 90%;
    background-color: #23242425;
    border-radius: 7px;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 30px;
}

.item_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image_logo {
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 9px black;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: no-repeat center center/cover linear-gradient(to bottom right, #eeecec, #77f7e3);
    margin: 10px;
    font-weight: bold;
    color: rgb(0, 52, 73);
    font-family: 'Kanit', sans-serif;
}

.image_logo a {
    color: #011225;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.image_logo:hover {
    border-radius: 7px;
    box-shadow: none;
}

.image_logo img {
    height: 116px;
    width: 115px;
    padding: 10px;
}

/* Unit Converter */
.converter {
    background-color: #1818181c;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90%;
    align-items: left;
    padding: 20px 10px;
    border-radius: 7px;
    margin: auto;
}

.container1 {
    display: flex;
    padding: 20px 4px;
    flex-direction: row;
}

.container1 input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 60%;
    border-bottom: 2px solid black;
    padding: 0px 10px;
    font-weight: bold;
    color: rgb(0, 52, 73);
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.container1 input:focus,
.container1 input:valid {
    outline: 0;
}

#fromUnit {
    border-radius: 7px;
    padding: 4px;
    border: none;
    margin: 0px 5px;
    outline: none;
    color: rgb(0, 52, 73);
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    background: no-repeat center center/cover linear-gradient(to bottom right, #eeecec, #77f7e3);
    cursor: pointer;
}

#fromUnit option {
    border: none;
    outline: none;
    background: no-repeat center center/cover linear-gradient(to bottom right, #eeecec, #77f7e3);
}

.converter span {
    color: #011225;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    margin: 5px 0px;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 10px;
}

.result {
    padding: 20px 10px;
    width: 60%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 0px 10px;
    font-weight: bold;
    color: rgb(0, 52, 73);
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
}

#toUnit {
    border-radius: 7px;
    padding: 4px;
    border: none;
    margin: 0px 5px;
    outline: none;
    color: rgb(0, 52, 73);
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    background: no-repeat center center/cover linear-gradient(to bottom right, #eeecec, #77f7e3);
    cursor: pointer;
}

#toUnit option {
    border: none;
    outline: none;
    background: no-repeat center center/cover linear-gradient(to bottom right, #eeecec, #77f7e3);
}

.btn {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.btn button {
    border: none;
    border-radius: 7px;
    color: rgb(0, 52, 73);
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    padding: 5px 10px;
    background: no-repeat center center/cover linear-gradient(to bottom right, #eeecec, #77f7e3);
    box-shadow: 1px 1px 9px black;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn button:hover {
    box-shadow: none;
}

.back a {
    display: flex;
    margin: 10px;
    align-items: center;
    text-decoration: none;
}
.back a h4 {
    color: rgb(27, 27, 27);
    font-family: 'Kanit', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 5px 0px ;
    text-decoration: none;
}

.back a img {
    height: 16px;
    width: 16px;
}